<html>

<head>
    <title>Waffle Cam</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='favicon.ico') }}" />

    <style>
        html,
        body {
            margin: 0;
        }
    </style>

    <link rel="stylesheet" href="{{ url_for('static', path='/css/app.css') }}">
    <script type="text/javascript" src="{{ url_for('static', path='/js/app.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='/js/reconnecting-websocket.js') }}"></script>
</head>

<body>
    <div class="container">
        <img id="waffle-image" src="{{ url_for('video_feed') }}" onclick="toggleFullScreen(this)" />

        <nav class="action-bar">
            <button onclick="saveFrame()">Download Frame</button>
            <!-- <button>Brighter</button>
            <button>Darker</button> -->
        </nav>
        <div class="chat">
        </div>
    </div>

    <script>
        var url = "{{ url_for('ws') }}";
        // var ws = new WebSocket(url);
        var ws = new ReconnectingWebSocket(url, null, {
            debug: true,
            reconnectInterval: 4000
        });

        ws.onmessage = function(event) {
            if (typeof event.data === String) {
                alert(event.data);
            }
        };

        function sendMessage(message) {
            ws.send(message)
            event.preventDefault()
        }

        window.addEventListener('beforeunload', (event) => {
            // close websocket connections
            ws.close();
        });
    </script>
</body>

</html>