<html>

<head>
    <title>Waffle Cam</title>

    <style>
        html,
        body {
            margin: 0;
        }
    </style>

    <link rel="stylesheet" href="{{ url_for('static', path='/css/app.css') }}">
    <script type="text/javascript" src="{{ url_for('static', path='/js/app.js') }}"></script>
</head>

<body>
    <div class="container">
        <img id="waffle-image" src="{{ url_for('video_feed') }}" onclick="toggleFullScreen(this)" />

        <nav class="action-bar">
            <button onclick="saveFrame()">Download Frame</button>
            <!-- <button>Brighter</button>
            <button>Darker</button> -->
        </nav>
        <div class="chat">
            <form action="" onsubmit="sendMessage(event)">
                <input type="text" id="messageText" autocomplete="off" />
                <button>Send</button>
            </form>
            <ul id='messages'>
            </ul>
        </div>
    </div>

    <script>
        var ws = new WebSocket("{{ url_for('ws') }}");

        ws.onmessage = function(event) {
            var messages = document.getElementById('messages')
            var message = document.createElement('li')
            var content = document.createTextNode(event.data)

            message.appendChild(content)
            messages.appendChild(message)
        };

        function sendMessage(event) {
            var input = document.getElementById("messageText")
            ws.send(input.value)
            input.value = ''
            event.preventDefault()
        }
    </script>
</body>

</html>